
<div data-grid="spacing">

    <article class="wrapper" data-cell="1of3 fill" data-grid="column justify">
        <div data-cell="shrink fill">{% include svg/calendar.svg %}</div>
        <h4>Agende seu horário</h4>
        <p data-cell="shrink">Marque sua consulta de modo fácil</p>
    </article>

    <article class="wrapper" data-cell="1of3 fill" data-grid="column justify">
        <div data-cell="shrink fill">{% include svg/heartbeat.svg %}</div>
        <h4>Experiência e Competência</h4>
        <p data-cell="shrink">Mais de 10 anos de mercado</p>
    </article>

    <article class="wrapper" data-cell="1of3 fill" data-grid="column justify">
        <div data-cell="shrink fill">{% include svg/credit-card.svg %}</div>
        <h4>Condições acessíveis</h4>
        <p data-cell="shrink">Confira a lista de Convênios</p>
    </article>

</div>
