
<div data-grid="center stretch">

    <article class="feature-item card" data-cell="1of3 fill">
        <div class="feature-pic" data-cell="shrink fill">{% include svg/calendar.svg %}</div>
        <div class="feature-content" data-grid="column justify">
            <h4 class="feature-title">Agende seu horário</h4>
            <p data-cell="shrink"><a href="#contato">Marque sua consulta de modo fácil</a></p>
        </div>
    </article>

    <article class="feature-item card" data-cell="1of3 fill">
        <div class="feature-pic" data-cell="shrink fill">{% include svg/heartbeat.svg %}</div>
        <div class="feature-content" data-grid="column justify">
            <h4 class="feature-title">Experiência e Competência</h4>
            <p data-cell="shrink"><a href="{{ site.baseurl }}/sobre/">Mais de 10 anos de mercado</a></p>
        </div>
    </article>

    <article class="feature-item card" data-cell="1of3 fill">
        <div class="feature-pic" data-cell="shrink fill">{% include svg/credit-card.svg %}</div>
        <div class="feature-content" data-grid="column justify">
            <h4 class="feature-title">Condições acessíveis</h4>
            <p data-cell="shrink"><a href="{{ site.baseurl }}/convenios/">Confira a lista de Convênios</a></p>
        </div>
    </article>

</div>
