---
layout: compress
---

<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    <script>window.baseurl = '{{ site.baseurl }}';</script>

    {% include header.html %}

    {{ content }}

    {% include footer.html %}

    <script src="{{ site.baseurl }}/js/main.js"></script>

    {% assign base = site.baseurl | strip %}

    {% if base != '' %}
    <script>
      (function(i,m,g) {
        Array.prototype.forEach.call(i, function(j) {j[m] = g;
        })
      })(document.querySelectorAll('img'), 'onerror', function(e) {
        this.src = this.getAttribute('src').replace(
            /^\/uploads\//,
            '{{ site.baseurl }}/uploads/'
          );
      })
    </script>
    {% endif %}

  </body>

</html>
