---
layout: default
---

<article class="post page-content" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header wrapper">
    <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
    <p class="post-meta"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>{% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}</p>
  </header>

  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>

  <div class="hero light" data-grid="around spacing">

    {% if page.next %}
      <div class="wrapper small" data-text="right">
        <p><small>Mais recente</small></p>
        <h4><a href="{{ page.next.url }}">{{ page.next.title }}</a></h4>
        <p><small>{{ page.next.excerpt | strip_html | strip_newlines | truncatewords: 25, '...' }}</small></p>
      </div>
    {% endif %}
  
    {% if page.previous %}
      <div class="wrapper small" data-text="left">
        <p><small>Anterior</small></p>
        <h4><a href="{{ page.previous.url }}">{{ page.previous.title }}</a></h4>
        <p><small>{{ page.previous.excerpt | strip_html | strip_newlines | truncatewords: 25, '...' }}</small></p>
      </div>
    {% endif %}
  
    </div>

</article>

{% include disqus.html %}
