
.site-footer
    padding: $spacing-unit 0
    color: #fff
    background-color: $grey-color-dark

    a
        color: $compl-color
    
    .site-title
        svg
            margin-top: $spacing-unit / 4
            width: 70px
            height: 70px

.footer-heading
    font-size: $base-font-size
    font-weight: bold
    margin-bottom: $spacing-unit / 2
