
.site-footer
    padding: $spacing-unit * 2 0 $spacing-unit
    box-shadow: 0 -10px 100px -50px #000

    .site-logo
        svg
            margin-top: $spacing-unit / 4
            width: 70px
            height: 70px

.footer-heading
    font-size: $base-font-size
    font-weight: bold
    margin-bottom: $spacing-unit / 2
