
.site-footer
    padding: $spacing-unit * 2 0
    border-top: 3px solid $brand-color

    .site-title
        svg
            margin-top: $spacing-unit / 4
            width: 70px
            height: 70px

.footer-heading
    font-size: $base-font-size
    font-weight: bold
    margin-bottom: $spacing-unit / 2
